# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

output/*.json
output/*.txt
output/recorded_games/recorded_game_*
.idea/*.xml
.idea/codeStyles
cmake-build-debug
ui/.qmake.stash

ui/build/Makefile
ui/build/*.cpp
ui/build/*.h

**/__pycache__

output/saved_networks/*.png
output/saved_networks/value_function*
output/saved_networks/checkpoint
backtrace.dump


ai/.idea/inspectionProfiles
ai/.idea/misc.xml
ai/.idea/modules.xml
ai/.idea/other.xml
ai/.idea/vcs.xml

	
